/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 oct. 2021, 17:02:39
    Author     : Usuario
*/

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Sustituir por a */
li{
    display: block;
    text-align: center;
    font-variant-caps: small-caps;
    background-color: lavender;
    border: 3px solid slateblue;
    color: slateblue;
    margin-bottom: 1.5%;
    padding: 1.5% 0;
}
li:hover{
    background-color: black;
    color: white;   
}

a{
    text-decoration: none;
    
}