/* 
    Created on : 16 oct. 2021, 17:02:39
    Author     : Sasha
*/


*{
    margin: 0;
}

body{
    font-family: sans-serif;
}

header, footer{
    text-align: center;
    background-color: black;
    color: white;
}
header{
    padding: 10px 0;
}

/* Para mantener el footer abajo */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    font-family: sans-serif;
    text-align: center;
    font-size: small;
    background-color: black;
    color: white;
    font-size: 11px;
    padding: 5px 0;
    flex-shrink: 0;
}
footer > *{
    display: inline-block;
}
footer img{
    width: 30px;
    margin-right: 5px;
}
footer > div{
    position: relative;
    bottom: 8px;
}


/*Botón volver*/
a.volver{
    font-weight: bold;
    font-family: sans-serif;
    font-size: small;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 7px;
    position: absolute;
    top: 5px; right: 5px;
}

/* Menú del cuerpo */
.container{
    height: 100%;
    display: grid;
}

.container a{
    text-align: justify;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-variant: small-caps;
    color: black;

    border-bottom: 1px solid gainsboro;
}
.container a.proyecto{
    background-color: mistyrose;
}

.container a:hover{
    background-color: darkblue;
    color: white;
}

.container a.proyecto:hover{
    background-color: firebrick;
    color: white;
}

/* Borra los background-color */